html
  head
    title= title
  <div class='container' >
      body
      center
        h1=title
        br
        img(src=file height=400 width=200) 
        h2= message
        h2=alerts
  </div>
    
